/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

body{
  font-family: 'Roboto', sans-serif;
}


/******************************************
/* BASE STYLES
/*******************************************/

img, footer img {
  height: 4rem;
  width: fit-content;
  max-width: 120px;
  transition: height .1s linear;
}

.linkStyle{
  text-decoration: none; /* Remove underline */
  color: inherit; /* Remove color */
}


nav{
  align-items: center;
}

.nav{

}

.otherNav{
    position: fixed;
    top: 10;
    right: 10;
}

header{
  display: flex;
  height: 7%;
  margin: -1% -1% 1%;
  padding-left: 1%;
  font-size: 20px;
  background-color:rgb(245, 245, 245);
  font-weight: 200;
}

footer img {
  height: 3rem;
}

.uta {
  height: 3rem;
}


.hidden {
  display: none;
}

@media (max-width: 480px) {
  /* CSS rules for mobile */
  img, footer img {
    height: 3rem;
  }

  footer img {
    height: 2rem;
  }

}




/******************************************
/* LAYOUT
/*******************************************/

/* general bracket arrangement */

main {
  display: flex;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  margin-top: 2%;
}

.firstRound, .secondRound, .thirdRound, .finals, .finalsEast{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25%;
  height: 100%;
}

.secondRound {
  justify-content: space-around;
  padding: 5% 0 5% 0;
}



.finals .border {
  height: 36.24%;
  border-top: 3px solid grey;
}

.finalsEast .border{
  height: 29.5%;
}
.border{
  height: 0%;
  border-top: 3px solid grey;
}

.finalsEast .teamLogo{
  transform: translate(88%, 200px);
}

.finals .teamLogo{
  transform: translate(-35px, 260px);
}



/* western conference */

.conference{
  display: flex;
  flex: 1;
  height: 800px;
  padding-left: 100px;
}

.firstLeft, .secondLeft, .thirdWest{
  height: 12.5%;
  width: 100%;
  border-top: 3px solid grey;
  border-right: 3px solid grey;
  border-bottom: 3px solid grey;
}

.secondLeft {
  height: 25%;
}

.thirdWest {
  height: 47%;
}

/* eastern conference */

.eastConference {
  display: flex;
  flex: 1;
  height: 800px;
  padding-right: 100px;
}

.firstEast, .secondEast, .thirdEast{
  height: 12.5%;
  width: 100%;
  border-top: 3px solid grey;
  border-left: 3px solid grey;
  border-bottom: 3px solid grey;
}

.secondEast {
  height: 25%;
}

.thirdEast {
  height: 47%;
}






/* TEAMS ARRANGEMENT ON THE BRACKET */

.matchup img, .matchupWest img, .matchupSecond img, .matchupSecondWest img, .matchupThird img, .matchupThirdWest img, .finalsEast img, .finals img, .champion img{
  display: inline-block;
}

.matchup img, .matchupWest img, .matchupSecond img, .matchupSecondWest img, .matchupThird img, .matchupThirdWest img, .finalsEast img, .finals img, .champion img{
  height: 4rem;
  width: fit-content;
}

@media (max-width: 1200px) {
  /* CSS rules for 1200px */
  .matchup img, .matchupWest img, .matchupSecond img, .matchupSecondWest img, .matchupThird img, .matchupThirdWest img, .finalsEast img, .finals img, .champion img {
    height: 3.5rem;
  }
  .matchup, .matchupWest {
    height: 120px;
  }

  .matchupSecond, .matchupSecondWest {
    height: 190px;
  }

  .matchupThird, .matchupThirdWest {
    height: 345px;
  }
}

@media (max-width: 900px) {
  /* CSS rules for 900px */
  .matchup img, .matchupWest img, .matchupSecond img, .matchupSecondWest img, .matchupThird img, .matchupThirdWest img, .finalsEast img, .finals img, .champion img {
    height: 3rem;
  }
}



.matchup, .matchupWest {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.matchup {
  transform: translate(50%, -30px);
}

.matchupWest {
  transform: translate(-50%, -30px);
}

.matchupSecond, .matchupSecondWest {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 235px;
}

.matchupSecond {
  transform: translate(50%, -13%);
}

.matchupSecondWest {
  transform: translate(-50%, -13%);
}

.matchupThird, .matchupThirdWest {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 430px;
}

.matchupThird {
  transform: translate(50%, -7%);
}

.matchupThirdWest {
  transform: translate(-50%, -7%);
}

.westFinalistWinner {
  position: absolute;
  transform: translate(-50%, 5%);
}

.eastFinalistWinner {
  position: absolute;
  transform: scaleX(-1) translate(50%);
}

.champion {
  transform: translate(25%, 30%);
  width: 5%;
  max-height: 500px;
}

/* teams */
footer {
  display: flex;
  justify-content: space-around;
}

.eastLotto, .westLotto {
  display: flex;
  width: fit-content;
  align-content: space-between;
  gap: 1rem;
}





/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* styling player stats */

.statsContainer{
  justify-content: center;
}

#stats{
  position: absolute;
  transform: translate(-55.5%, 125%);
  border-radius: 40px;
  height: 400spx;
  width: 800px;
  border: 1px solid black;
  background: white;
  text-align: center;
  flex-wrap: wrap;
  padding: 10px;
  z-index: 2;
}

.Players{
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  padding-top: 5px;
}

.player0, .player1, .player2, .player3, .player4, .player5{
  display: flex;
  flex-direction: column;
}

.playerName{
  font-weight: bold;
}

/* base gameWon styles */
/* CHANGE TO RELATIVE */
.game{
  width: fit-content;
  position: absolute;
  z-index: 1;
  font-size: large;
}
.east .game{
  width: fit-content;
  z-index: 1;
  font-size: large;
}

.champion{
  width: fit-content
}


.east .game .toolTipText{
  transform: scaleX(-1);
}

.champion .lowSeedWin1 .toolTipText, .champion .lowSeedWin2 .toolTipText, .champion .lowSeedWin3 .toolTipText, .champion .lowSeedWin4 .toolTipText{
  transform: scaleX(-1);
}

/* west 1st round */
.topSeedWin1 {
  transform: translate(65px, -57px);
}
.lowSeedWin1{
  transform: translate(65px, 40px);
}
.topSeedWin2{
  transform: translate(80px, -57px);
}
.lowSeedWin2{
  transform: translate(80px, 40px);
}
.topSeedWin3{
  transform: translate(95px, -57px);
}
.lowSeedWin3{
  transform: translate(95px, 40px);
}
.topSeedWin4{
  transform: translate(110px, -57px);
}
.lowSeedWin4{
  transform: translate(110px, 40px);
}

/* east 1st round */
.east .topSeedWin1 {
  transform: scaleX(-1) translate(50px, -57px);
}
.east .lowSeedWin1{
  transform: scaleX(-1) translate(50px, 40px);
}
.east .topSeedWin2{
  transform: scaleX(-1) translate(65px, -57px);
}
.east .lowSeedWin2{
  transform: scaleX(-1) translate(65px, 40px); 
}
.east .topSeedWin3{
  transform: scaleX(-1) translate(80px, -57px);
}
.east .lowSeedWin3{
  transform: scaleX(-1) translate(80px, 40px);
}
.east .topSeedWin4{
  transform: scaleX(-1) translate(95px, -57px);
}
.east .lowSeedWin4{
  transform: scaleX(-1) translate(95px, 40px);
}

/* west 2nd round */
.westUpper .topSeedWin1, .westLower .topSeedWin1 {
  transform: translate(60px, -98px);
}
.westUpper .lowSeedWin1, .westLower .lowSeedWin1{
  transform: translate(60px, 79px);
}
.westUpper .topSeedWin2, .westLower .topSeedWin2{
  transform: translate(75px, -98px);
}
.westUpper .lowSeedWin2, .westLower .lowSeedWin2{
  transform: translate(75px, 79px);
}
.westUpper .topSeedWin3, .westLower .topSeedWin3{
  transform: translate(90px, -98px);
}
.westUpper .lowSeedWin3, .westLower .lowSeedWin3{
  transform: translate(90px, 79px);
}
.westUpper .topSeedWin4, .westLower .topSeedWin4{
  transform: translate(105px, -98px);
}
.westUpper .lowSeedWin4, .westLower .lowSeedWin4{
  transform: translate(105px, 79px);
}

/* east 2nd round */
.eastUpper .topSeedWin1 , .eastLower .topSeedWin1{
  transform: scaleX(-1) translate(60px, -98px);
}
.eastUpper .lowSeedWin1, .eastLower .lowSeedWin1{
  transform: scaleX(-1) translate(60px, 79px);
}
.eastUpper .topSeedWin2, .eastLower .topSeedWin2{
  transform: scaleX(-1) translate(75px, -98px);
}
.eastUpper .lowSeedWin2, .eastLower .lowSeedWin2{
  transform: scaleX(-1) translate(75px, 79px);
}
.eastUpper .topSeedWin3, .eastLower .topSeedWin3{
  transform: scaleX(-1) translate(90px, -98px);
}
.eastUpper .lowSeedWin3, .eastLower .lowSeedWin3{
  transform: scaleX(-1) translate(90px, 79px);
}
.eastUpper .topSeedWin4, .eastLower .topSeedWin4{
  transform: scaleX(-1) translate(105px, -98px);
}
.eastUpper .lowSeedWin4, .eastLower .lowSeedWin4{
  transform: scaleX(-1) translate(105px, 79px);
}

/* west finals  */

.westFinal .topSeedWin1 {
  transform: translate(60px, -197px);
}
.westFinal .lowSeedWin1{
  transform: translate(60px, 176px);
}
.westFinal .topSeedWin2{
  transform: translate(75px, -197px);
}
.westFinal .lowSeedWin2{
  transform: translate(75px, 176px);
}
.westFinal .topSeedWin3{
  transform: translate(90px, -197px);
}
.westFinal .lowSeedWin3{
  transform: translate(90px, 176px);
}
.westFinal .topSeedWin4{
  transform: translate(105px, -197px);
}
.westFinal .lowSeedWin4{
  transform: translate(105px, 176px);
}

/* east finals */
.eastFinal .topSeedWin1 {
  transform: scaleX(-1) translate(55px, -197px);
}
.eastFinal .lowSeedWin1{
  transform: scaleX(-1) translate(55px, 176px);
}
.eastFinal .topSeedWin2{
  transform: scaleX(-1) translate(70px, -197px);
}
.eastFinal .lowSeedWin2{
  transform: scaleX(-1) translate(70px, 176px);
}
.eastFinal .topSeedWin3{
  transform: scaleX(-1) translate(85px, -197px);
}
.eastFinal .lowSeedWin3{
  transform: scaleX(-1) translate(85px, 176px);
}
.eastFinal .topSeedWin4{
  transform: scaleX(-1) translate(100px, -197px);
}
.eastFinal .lowSeedWin4{
  transform: scaleX(-1) translate(100px, 176px);
}



/* finals */

.champion .topSeedWin1 {
  transform: translate(-700%, 172px);
}
.champion .lowSeedWin1{
  transform: scaleX(-1) translate(-900%, 171px);
}
.champion .topSeedWin2{
  transform: translate(-600%, 172px);
}
.champion .lowSeedWin2{
  transform: scaleX(-1) translate(-800%, 171px);
}
.champion .topSeedWin3{
  transform: translate(-500%, 172px);
}
.champion .lowSeedWin3{
  transform: scaleX(-1) translate(-700%, 171px);
}
.champion .topSeedWin4{
  transform: translate(-400%, 172px);
}
.champion .lowSeedWin4{
  transform: scaleX(-1) translate(-600%, 171px);
}




  /* team colors */
.phoWin{
  color: rgb(229, 95, 32);
}
.nopWin{
  color: rgb(0,22,65);
}
.miaWin{
  color: rgb(152, 0, 46)
}
.atlWin{
  color: rgb(200, 16, 46)
}
.phiWin{
  color: rgb(0, 107, 182)
}
.torWin{
  color: rgb(206, 17, 65)
}
.bosWin{
  color: rgb(0, 122, 51)
}
.brkWin{
  color: black
}
.milWin{
  color: rgb(0, 71, 27)
}
.chiWin{
  color: rgb(206, 17, 65)
}
.cleWin{
  color: rgb(134, 0, 56)
}
.choWin{
  color: rgb(29, 17, 96)
}
.nykWin{
  color: rgb(245, 132, 38)
}
.wasWin{
  color: rgb(0,43,92)
}
.indWin{
  color: rgb(253, 187, 48)
}
.detWin{
  color: rgb(181,179,179)
}
.orlWin{
  color: rgb(0, 125, 197)
}
.dalWin{
  color: rgb(0, 83, 188)
}
.utaWin{
  color: rgb(0, 71, 27)
}
.memWin{
  color: rgb(93, 118, 169)
}
.minWin{
  color: rgb(12, 35, 64)
}
.gswWin{
  color: rgb(255, 199, 44)
}
.denWin{
  color: rgb(139, 35, 50)
}
.lacWin{
  color: rgb(200,16,46)
}
.sasWin{
  color: rgb(196, 206, 211)
}
.lalWin{
  color: rgb(85, 37, 130)
}
.sacWin{
  color: rgb(91,43,130)
}
.porWin{
  color: rgb(224, 58, 62)
}
.okcWin{
  color: rgb(239, 59, 36)
}
.houWin{
  color: rgb(206,17,65)
}
/* tooltip test */

.toolTipText {
  width: 60px;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  top: 20px;
  left: -25px;
  font-size: 13px;
  font-weight:bold;
  background: white;
  border: 1px solid black;

}




/* dropdown btn */

.dropdown {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.dropdown:hover{
  color: grey
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.dropdown-icon {
  margin-left: 4px;
  font-size: 12px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: -20%;
  background-color: #f1f1f1;
  width: 115%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  max-height: 20rem;
  overflow-y: scroll;
  border-radius: 4px;
  padding: 0;
  border: none;
}

.dropdown-content *{
  text-align: left;
}

.dropdown-content::-webkit-scrollbar {
  width: 5px;
}

.dropdown-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.dropdown-content::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.dropdown-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dropdown-content a {
  color: black;
  padding: 6px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}



